@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

:root {
  color-scheme: light dark;

  --light-text: hsl(105, 60%, 4%);
  --light-background: #fcfcfb;
  --light-subtle-background: color-mix(in srgb, var(--light-text) 10%, transparent) ;
  --light-primary: #BBFFEC;
  --light-secondary: #FFECBB;
  --light-accent: #ECBBFF;

  --dark-text: hsl(68, 100%, 95%);
  --dark-background: hsl(36, 12%, 8%);
  --dark-subtle-background: color-mix(in srgb, var(--dark-text) 10%, transparent) ;
  --dark-primary: #202827;
  --dark-secondary: #231b30;
  --dark-accent: #feebff;

  --font-small: 0.7rem;
  --font-normal: 0.9rem;
  --font-subheading: 1.2rem;
  --font-heading: 1.5rem;
  --font-l: 1.7rem;
  --font-xl: 2.5rem;
  --font-xxl: 5.5rem;
}

:root {
  --color-text: var(--light-text);
  --color-background: var(--light-background);
  --color-subtle-background: var(--light-subtle-background) ;
  --color-primary: var(--light-primary);
  --color-secondary: var(--light-secondary);
  --color-accent: var(--light-accent);
}

[color-scheme='dark'] {
  --color-text: var(--dark-text);
  --color-background: var(--dark-background);
  
  --color-subtle-background: var(--dark-subtle-background) ;
  --color-primary: var(--dark-primary);
  --color-secondary: var(--dark-secondary);
  --color-accent: var(--dark-accent);
}

:root {
  --switch-container-width: 45px;
  --max-width-site: 1232px;
  --max-width-content: 1200px;

  --switch-font-size: 0.9rem;
  --section-row-gap: 1rem;
}

@media (min-width: 560px) {
  :root {
    --font-small: clamp(0.7rem, 0.5333rem + 0.4762vw, 0.9rem);
    --font-normal: clamp(0.9rem, 0.65rem + 0.7143vw, 1.2rem);
    --font-subheading: clamp(1.2rem, 1.0333rem + 0.4762vw, 1.4rem);
    --font-heading: clamp(1.5rem, 1.25rem + 0.7143vw, 1.8rem);
    --font-l: clamp(1.7rem, -0.2167rem + 5.4762vw, 2.2rem);
    --font-xl: clamp(2.5rem, 0.4167rem + 5.9524vw, 5rem);
    --font-xxl: clamp(5.5rem, 1.75rem + 10.7143vw, 10rem);

    --section-row-gap: clamp(1rem, -0.6667rem + 4.7619vw, 3rem);
    --section-content-margin: clamp(0rem, -2.5rem + 7.1429vw, 3rem);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  scroll-behavior: smooth !important;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-background);
  transition:
    color 0.3s,
    background-color 0.3s;
  line-height: 1.6;
  font-family:
    'Rubik',
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: var(--font-normal);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* mobile nav overflow */
  overflow-x: hidden;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
