/* color palette from <https://github.com/vuejs/theme> */
:root {
  color-scheme: light dark;

  --light-text: hsl(105, 60%, 4%);
  --light-background: #fcfcfb;
  --light-subtle-background: color-mix(in srgb, var(--light-text) 10%, transparent) ;
  --light-primary: #BBFFEC;
  --light-secondary: #FFECBB;
  --light-accent: #ECBBFF;

  --dark-text: hsl(68, 100%, 95%);
  --dark-background: hsl(36, 12%, 8%);
  --dark-subtle-background: color-mix(in srgb, var(--dark-text) 10%, transparent) ;
  --dark-primary: hsl(172, 11%, 26%);
  --dark-secondary: hsl(321, 28%, 18%);
  --dark-accent: hsl(297, 100%, 96%);

  --small-font: 0.7rem;
}

/* semantic color variables for this project */
:root {
  --color-text: var(--light-text);
  --color-background: var(--light-background);
  --color-subtle-background: var(--light-subtle-background) ;
  --color-primary: var(--light-primary);
  --color-secondary: var(--light-secondary);
  --color-accent: var(--light-accent);
}

[color-scheme='dark'] {
  --color-text: var(--dark-text);
  --color-background: var(--dark-background);
  
  --color-subtle-background: var(--dark-subtle-background) ;
  --color-primary: var(--dark-primary);
  --color-secondary: var(--dark-secondary);
  --color-accent: var(--dark-accent);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  scroll-behavior: smooth !important;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-background);
  transition:
    color 0.3s,
    background-color 0.3s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* mobile nav overflow */
  overflow-x: hidden;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
