@import './base.css';

:root{
  --switch-container-width: 45px;
  --max-width-site: 1280px;
  --max-width-content: 1000px;
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

#app > * > * {
  max-width: var(--max-width-content);
  margin-inline: auto;
  padding-inline: 1rem;
}

#app > * {
  padding-block: 1rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

section > h1 {
  background: var(--color-primary);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  text-wrap: balance;
}

@media (max-width: 35em) {
  section > h1 {
    text-align: center;
  }
}