@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}
#app > * > * {
  max-width: var(--max-width-content);
  padding-inline: 1rem;
}
#app > * {
  padding-block: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: var(--section-row-gap);
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

section {
  display: flex;
  flex-direction: column;
  row-gap: var(--section-row-gap);
}
section > h1 {
  max-width: calc(var(--max-width-content)* 0.6);
  font-size: var(--font-heading);
  text-wrap: balance;
  background: var(--color-primary);
  border-radius: 1000px;
  border: 1px solid var(--color-text);
  padding: 0.2rem 0.5rem 0.4rem 1rem;
}
section:not(:first-child) > :not(:first-child) {
  margin-inline: var(--section-content-margin);
}

h2 {
  font-size: var(--font-subheading);
}

@media (max-width: 35em) {
  section > h1 {
    text-align: center;
  }
}
